<div data-type="rotor" class="fade" data-delay="5000">
	<ul>
		<li>
			<div data-type="label" class="wider grande" data-device="par_device" data-get="temperature" data-unit="°C&nbsp;">
			</div>
			<div data-type="label" class="bigger" data-device="par_device" data-get="alias">
			</div>								
		</li>
		<li>
			<div data-type="label" class="wider grande" data-device="par_device" data-get="humidity" data-unit="%">
			</div>
			<div data-type="label" class="bigger" data-device="par_device" data-get="alias">
			</div>								
		</li>	
	</ul>
</div>
