<!-- Weather Forecast with proplanta -->
<div class="center" >
		<div data-type="label" class="gigantic inline verticalLine" data-device="prop_Bretten" data-get="fcpar_day_tempMax" data-unit="°C&nbsp;">
		</div>
		<div class="inline">
			<div data-type="weather" data-device="prop_Bretten" data-get="fcpar_day_weatherDay" class="grande left-space thin weather">
			</div>
		</div>
</div>
<div class="row" >
</div>
<div class="center" >
	<div data-type="label" class="left bigger cell" data-device="prop_Bretten" data-get="fcpar_day_date"
		  data-substitution="toDate().eeee()">
	</div>
</div>