<!-- Weather Forecast with proplanta -->
<div data-type="rotor" class="fade">
<ul>
	<li>
		<div class="center">
			<div data-type="label" class="gigantic inline verticalLine" data-device="prop_Bretten" data-get="fcpar_day_tempMax" data-unit="°C&nbsp;" />
			<div class="inline">
				<div data-type="weather" data-device="prop_Bretten" data-get="fcpar_day_weatherDay" class="grande left-space thin weather" />
			</div>
		</div>
		<div class="row" />
		<div class="center">
			<div data-type="label" class="left bigger cell" data-device="prop_Bretten" data-get="fcpar_day_date" data-substitution="toDate().eeee()" />
		</div>	
	</li>
	<li>
		<div class="center">
			<div data-type="label" class="gigantic inline verticalLine" data-device="prop_Bretten" data-get="fcpar_next_day_tempMax" data-unit="°C&nbsp;" />
			<div class="inline">
				<div data-type="weather" data-device="prop_Bretten" data-get="fcpar_next_day_weatherDay" class="grande left-space thin weather" />
			</div>
		</div>
		<div class="row" />
		<div class="center">
			<div data-type="label" class="left bigger cell" data-device="prop_Bretten" data-get="fcpar_next_day_date" data-substitution="toDate().eeee()" />
		</div>	
	</li>
</ul>
</div>
